@import "tailwindcss";

:root {
  --background: #ffffff;
  --color-text: #333;
  --color-pink: #f2968f;
  --color-grey: #acacac;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope);
}
