@import "tailwindcss";

:root {
  --background: linear-gradient(
    131deg,
    rgba(200, 220, 229, 1) 0%,
    rgba(182, 204, 218, 1) 100%
  );
  --foreground: #171717;
  --color-primary: #c8dce5;
  --color-secondary: #b6ccda;
  --color-white: #fff;
}

body {
  padding-left: 62px;
  padding-right: 62px;
  padding-top: 30px;
  background: var(--background);
  color: var(--foreground);
  @apply grid grid-cols-[2fr_1fr] grid-rows-[1fr_2fr_1fr_1fr] gap-4;
}
